[submodule "modules/allegro5"]
	path = modules/allegro5
	url = https://github.com/HerrNamenlos123/allegro5-1.git
[submodule "modules/freetype"]
	path = modules/freetype
	url = https://github.com/HerrNamenlos123/freetype.git
[submodule "modules/libpng"]
	path = modules/libpng
	url = https://github.com/HerrNamenlos123/libpng.git
[submodule "modules/zlib"]
	path = modules/zlib
	url = https://github.com/HerrNamenlos123/zlib.git
